.cart {
    display: flex;
    padding: 20px;
    height: max-content;
}

.cart-thumbnail {
    width: 20rem;
    border-radius: 4%;
}


/* ==================================BUTTON STYLES================================== */

.button-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    margin-top: 5px;
}

.button-primary {
    background-color: #008CBA;
    border: #008CBA;
    border-radius: 4px;
    padding: 10px;
    color: white;
}

.button-danger {
    background-color: #f44336;
    border: #f44336;
    border-radius: 4px;
    padding: 10px;
    color: white;
}