.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.paymentContainer {
    margin: 5rem;
}

.paymentForm {
    display: flex;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup input {
    padding: 1rem;
    margin-bottom: 1rem;
}